.project
.buildpath
.idea
.svn
/bitrix
/upload
/.htaccess
/.htpasswd
/local/php_interface/constants.php
/local/php_interface/dbconn.php
!.gitignore
*.log
log.txt
/robots.txt
/webstat
/.mc
*.zip
*.tar
*.tar.gz
*.gz
/*.psd
*.pdf
/sitemap*.xml
/bx_1c_import.php
/bx_proxy_image.php
__bx*
*.doc
*.docx
*.rar
/*.jpg
*.xls
/*.JPG
*.mp4
*.mp3
*.m4a
*.cdr
*.csv
*.mpg
*.pptx
*.xlsx
*.tif
