.map-page .alx-inner-banner {
	height: 250px;
}
.map-page .alx-inner-banner__content {
	padding-top: 170px;
}
.alx-map-wrap {
  position: relative;
  width: 100%;
}
.alx-map-wrap:after {
  display: block;
  clear: both;
  content: "";
  font-size: 0;
  line-height: 0;
} 
.alx-map-content {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  max-width: 350px;
}
#map_div {
  height: 800px;
  margin-bottom: 10px;
}
#sidebar {
  margin-top: 10px;
  height: 580px;
  overflow: auto;      
  z-index: 10;
  background: #fff;
  padding: 5px 15px;
  border: 1px solid #5A9D32;
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#sidebar ul li ul {
  margin: 0 0 10px 10px;
}
#sidebar ul li ul li {
  margin-top: 5px;
}
#sidebar ul li ul li img {
  position: relative;
  top: 12px;
  display: inline-block;
  width: 28px;
  margin-right: 10px;
}
#sidebar ul li ul li a {
    color: #444444;
    text-decoration: none;
    border-bottom: 1px dashed #444444;
}
#sidebar ul li ul li a.act {
  color: #990000;
  font-weight: bold;
  border: 0;
}

#top_search input {
  border: 1px solid #888888;
  padding: 5px;
  width: 100%;
}

.mapobj_info {
  width: 325px;

  float: left;
}
.mapobj_info img {

}
.mapobj_info div.map_inf {
  width:  210px;
  float: left;
  margin-left: 15px;
}
a.mapobj_tit {
  font-size: 130%;;
  color: #222222;
  display: block;
  margin-bottom: 10px;
}
.mapobj_info div.map_inf p {
  padding-top: 5px;

  font-size: 90%;
  color: #555555;
}
.map_forimg {
  width: 100px;
  float: left;
  text-align: center;
}
.map_forimg img {
  margin-bottom: 5px;
}
a.map_more {
  display: block;
  padding: 3px 5px;
  float: left;
  background: #5A9D32;
  border-radius: 3px;
  padding: 3px 20px;
  color: #FFF;
  text-decoration: none;
}
.mapobj_info div.map_inf a.map_more:hover {
  opacity: 0.8;
}
.search_result ul li {
  margin-bottom: 5px;
}

.help {
  position: absolute;
  display: none;
}
.help h4 {
  margin: 0;
  padding: 0;
  font-size: 130%;
  color: #555555;
  margin: 5px 0 0 20px;
}

.help.tip1,
.help.tip2,
.help.tip3,
.help.tip4 {
  width: 326px;
  height: 101px;
  background: url(/map/img/help_4.png) no-repeat;
  z-index: 20;
  font-size: 13px;
}
.help.tip1 {
  position: absolute;
  top: 10px;
  right: 360px;
}
.help.tip2 {
  position: absolute;
  top: 120px;
  right: 360px;
}
.help.tip3 {
  position: absolute;
  bottom: -40px;
  right: 360px;
}
.help.tip4 {
  position: absolute;
  bottom: 70px;
  width: 389px;
  height: 100px;
  background: url(/map/img/help_6.png) no-repeat;
}


.help span {
  margin: 10px 0 0 20px;
  width: 280px;
  display: block;
}
a#map_objadd_btn {
  display: block;
  margin-top: 10px;
  z-index: 15;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
}
#map_helplink {
  display: block;
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 12;
  margin: 475px 0 0 10px;
}

#info_win_add {
  position: fixed;
  top: 200px;
  left: 50%;
  margin-left: -240px ;
  width: 480px;
  min-height: 300px;
  z-index: 25;
  border: solid 1px #ccc;
}
#info_win_sec {
  background: #FFF;
  width: 100%;
  min-height: 300px;
  float: left;
}
#info_win_sec h3 {
  margin-left: 10px;
  font-size: 150%;
  font-family: Tahoma;
  font-weight: normal;
  margin-top: 10px;
  padding-top: 0;
}

#info_win_sec ul {
  list-style: none;
  margin: 10px;
  padding: 0;
}
#info_win_sec ul li {
  margin-top: 5px;
}
#info_win_sec ul li label {
  display: block;
  width: 150px;
  float: left;
}

#info_win_sec ul li input[type="text"],
#info_win_sec ul li textarea,
#info_win_sec ul li select {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
}
#info_win_sec ul li textarea {
  height: 100px;;
}
#info_win_sec ul li input.er,
#info_win_sec ul li textarea.er {
  border: 1px solid red;
}
#info_win_sec input[type="button"] {
  border: none;
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #5A9D32;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
#info_win_sec input[type="button"]:hover{
  opacity: 0.8;
}
#info_win_sec .obj_step-label {
  font-weight: bold;
  line-height: 36px;
}

.map_close {
  float: right;
  margin: 10px 10px 0 0;
}

.obj_about-wrap {
  font-size: 0;
}

#add_map {
  width: 100%;
  height: 300px;
}

@media (max-width: 980px) {
  .alx-map-content {
    max-width: 100%;
  }
  #map_helplink {
    display: none;
  }
  .alx-map-content {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    padding: 15px;
  }
}
@media (max-width: 680px) {
  #map_div {
    height: 500px;
  }
}