$templatePath: '/local/templates/main';

$colorTextDark: #333;
$colorTextLight: #fff;

$colorPrimary: #E08F40;
$colorSecondary: #737373;

$borderRadiusSmall: 5px;
$borderRadius: 10px;

$background: #F7F7F7;

//fonts:
$primaryFont: 'Roboto', Arial, Helvetica, sans-serif;
$secondaryFont: 'PT Serif', 'Times New Roman', Times, serif;