@import 'variables';

.x3-breadcrumb {
  margin-bottom: 25px;
}
.x3-breadcrumb__item {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  color: $colorPrimary;
}
.x3-breadcrumb__item a {
  color: $colorTextDark;
}
.x3-breadcrumb__sep {
  margin: 0 12px;
  color: $colorTextDark;
}