@import 'variables';

.objects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 75px;
}
.objects-list__item {
  text-align: center;
}
.objects-list__img {
  position: relative;
  display: inline-block;
}
.objects-list__img img {
  height: auto;
  border-radius: $borderRadius;
}
.objects-list__partner {
  position: absolute;
  top: 0;
  left: 0;
}
.objects-list__stars {
  position: absolute;
  top: 25px;
  right: 25px;
}
.objects-list__icons {
  position: absolute;
  left: 10px;
  bottom: -30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.objects-list__icons li {
  position: relative;
  display: inline-block;
  margin-right: -12px;
  cursor: pointer;
}
.objects-list__icons li span {
  display: none;
  position: absolute;
  bottom: -10px;
  left: 70%;
  min-width: 95px;
  padding: 5px 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: left;
  background: #fff;
  z-index: 1;
}
.objects-list__icons li:hover span {
  display: block;
}

.objects-list__name {
  margin: 48px 0 20px;
  font: 400 24px/31px $secondaryFont;
}
.objects-list__name a {
  color: $colorTextDark;
}
.objects-list__name a:hover,
.objects-list__img:hover + .objects-list__name a {
  color: $colorPrimary;
}
.objects-list__props {
  list-style: none;
  margin: 0;
  padding: 0;
}
.objects-list__props li {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 27px;
  color: $colorSecondary;
}
.objects-list__props span {
  color: $colorTextDark;
}
.objects-list__props span.objects-list__price {
  color: $colorPrimary;
}

@media (max-width: 1023px) {
  .objects-list {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
  }
  .objects-list__icons li svg {
    width: 50px;
  }
  .objects-list__partner svg {
    width: 80px;
    height: 84px;
  }
  .objects-list__name {
    font-size: 20px;
    line-height: 28px;
  }
  .objects-list__props li {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 560px) {
  .objects-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .objects-list__name {
    margin-top: 25px;
  }
}